# This is Git's per-user configuration file.
[user]
	name = 风起
	email = chengtao.yct@alibaba-inc.com
[core]
    ignoreCase = false
	precomposeunicode = true
	quotepath = false
[diff]
	tool = vimdiff
[difftool]
	prompt = No
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[creadential]
	helper = store
[pull]
	rebase = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
