# This is Git's per-user configuration file.
[user]
	name = 风起
	email = chengtao.yct@alibaba-inc.com
[core]
    pager = delta
    ignoreCase = false
	precomposeunicode = true
	quotepath = false
	symlinks = false

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = true      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    line-numbers = true

[feature]
    manyfiles = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
	tool = vimdiff

[difftool]
	prompt = No

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[creadential]
	helper = store
[pull]
	rebase = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
