# This is Git's per-user configuration file.
[user]
	name = ctyin
	email = ctyin@freewheel.tv
[diff]
	tool = vimdiff
[difftool]
	prompt = No
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[creadential]
	helper = store
