[submodule "ale"]
	path = ale
	url = https://github.com/w0rp/ale.git
[submodule "asyncrun.vim"]
	path = asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "rust.vim"]
	path = rust.vim
	url = https://github.com/wting/rust.vim.git
[submodule "SimpylFold"]
	path = SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "sparkup"]
	path = sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim-flake8"]
	path = vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim-indent-object"]
	path = vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim-nerdtree-tabs"]
	path = vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim-sneak"]
	path = vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
